@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}

body{
    background-color: #0a1f50;
}

.estiloHeader{
    background-color: #0a1f50;
}

.logo{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
    padding:20px;
    color: #ffffff;
}

.navbarstyle{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffffff;
    flex-wrap: wrap;
}

.desplegable{
    background-color: #0a1f50;
    border: #0a1f50;
    color: #ffffff;
}

.navbarstyle:hover{
    transform: scale(1.1);
    color: #ffffff; 
}

.logo:hover{
    transform: scale(1.1);
    color: #ffffff;
}

#letreroIn{
    margin-top: 150px;
}

#letreroIn span{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    padding-right: 12%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 5%;
    margin-right: 15%;
    font-size: 40px;
    background-color: #004ad0;  
}

#letreroIn img{
    position:absolute;
    width: 20%;
    right: 5%;
    top: 150px;
    
}

.roadmap{
    width: 50%;
    height: 50%;
    margin-left: 30%;
    margin-right: 30%;
    display: block;
}


/*Elementos en el footer*/
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #004ad0;
    padding: 10px;
    vertical-align: middle;

}
footer div p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

footer ul{
    display: flex;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    right: 10px;
    top: 10px;
    width: 25%;
    flex-direction: row;

}


.iconos{
    width: 50px;
}

.iconos:hover{
    transform: scale(1.1);
    color: #ffffff;
}


.titulo{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    padding-right: 12%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 50%;
    margin-right: 15%;
    font-size: 40px;
    background-color: #004ad0;  
}

.contenido{
    font-size: 40px;
    background-color: #3665A4;  

}

.tutoriales{
    padding: 10%;

}

.bienvtutos{
    margin-top: 200px;
    font-size: 30px;
    border-radius: 30px;
    background-color: #3665A4; 
}

.tarjetas{
    font-size: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #717e96; 
}

 
@media screen and (max-width: 992px) {

    #letreroIn span{
        padding: 2%;
    }

    #letreroIn img{
        display: none;
    }


}
 
